<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ProInvestments | Smart Hospitality Investments</title>

<!--=====FAB ICON=======-->
<meta name="description" content="ProInvestments empowers hospitality through smart investments, guest hosting, event space solutions, and growth strategy.">
<link rel="shortcut icon" href="/img/logo/new-logo/PIREA_logo_for_light_bg.svg" type="image/svg+xml">
