{% extends 'layouts/landing.html.twig' %}

{% block content %}
  <main class="pi-site">
    <section class="pi-page-hero">
      <div class="pi-page-hero__media">
        <img src="/img/all-images/others/others-img10.png" alt="Hospitality partners" />
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <div class="pi-eyebrow"><span class="pi-logo-mark"></span> Partners</div>
            <h1>Built for partners shaping hospitality in South Africa.</h1>
            <p>ProInvestments works with ProConsultants, Travel and Guests, event hosts, and future partners building better hospitality spaces.</p>
          </div>
        </div>
      </div>
    </section>

    <section class="pi-clients sp6">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-5">
            <div class="heading3">
              <h5>Clients</h5>
              <h2>A focused partner ecosystem.</h2>
            </div>
          </div>
          <div class="col-lg-7">
            <div class="pi-client-list pi-client-list--icons">
              <span><i class="fa-solid fa-briefcase"></i> ProConsultants</span>
              <span><i class="fa-solid fa-suitcase-rolling"></i> Travel and Guests</span>
              <span><i class="fa-solid fa-calendar-check"></i> Event Hosts</span>
              <span><i class="fa-solid fa-handshake"></i> Future Partners</span>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock %}
